.App {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

ul > li:nth-child(1)::before {
  content: "";
  font-weight: bolder;

  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background-color: #ffb800;
  border-radius: 12px;
  margin-right: 5px;
}
ul > li:nth-child(2)::before {
  content: "";
  font-weight: bolder;

  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;

  border-radius: 12px;
  margin-right: 5px;
  background-color: #1ba493;
}
li:nth-child(3)::before {
  content: "";
  font-weight: bolder;

  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-right: 5px;
  background-color: #e44816;
}
